<div class="content-layout-simplify">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>
                    News Highlights
                </h1>
                <p>
                    Journalists and analysts can contact us directly by email at: <a href="mailto:pr@outsystems.com">pr@outsystems.com</a>
                </p>
            </div>
            <div class="span6">
                <h2 style="padding-top:30px;padding-bottom:10px;">
                    <i class="icon-pr">&nbsp;</i>Press Releases
                </h2>
            </div>
            %WEB%
            <div class="span6">
                <h2 style="padding-top:30px; padding-bottom:10px;">
                    <i class="icon-pc">&nbsp;</i>Press Coverage
                </h2>
            </div>
            %/WEB%
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="span6">
                {{#DetailsRelease}}
                <div class="press-list-item-left">
                    <h4 class="press-list-title">
                        <a class="press-list-link" href="/company/news{{DetailsRelease.FriendlyURL}}" target="">{{DetailsRelease.Title}}</a>
                    </h4>
                    %WEB% <span class="press-list-desc">{{DetailsRelease.SubTitle}}</span> %/WEB%
                </div>
                ||task_name:pressrelease,data_url:https://dp1dev.outsystems.com/NewsAndCoverage/rest/api/getPressReleasePost?PressReleasePostId={{DetailsRelease.Id}},output_url:http://192.168.180.4/CMS_BackOffice/CMS_POC.aspx?Name={{DetailsRelease.FriendlyURL}}&URL=/company/news{{DetailsRelease.FriendlyURL}}||
                {{/DetailsRelease}}
            </div>

            <div class="span6">
                %MOBILE%
                <h2 style="padding-top:30px; padding-bottom:30px;"><i class="icon-pc">&nbsp;</i>Press Coverage</h2>
                %/MOBILE%
                {{#DetailsCoverage}}
                <div class="press-list-item">
                    <div><img alt="ComputerWeekly" src="{{DetailsCoverage.URLImage}}" style="width: 160px; height: 29px;" /></div>
                    <div class="press-list-content-highlight">
                        <div class="press-list-content-highlight-inner">
                            <h4 class="press-list-title"><a class="press-list-link" href="{{DetailsCoverage.Link}}" target="_blank">{{DetailsCoverage.Title}}</a></h4>
                            <span class="press-list-desc">&quot;{{DetailsCoverage.SubTitle}}&quot;</span>
                        </div>
                    </div>
                </div>
                {{/DetailsCoverage}}
            </div>




        </div>


        <div class="separator-line">&nbsp;</div>

        <div class="container">
            <div class="row">
                <div class="span12 show-more-wrapper"><a href="?showmore=true">See all news<i class="icon-right-arrows">&nbsp;</i></a></div>
            </div>
        </div>

    </div>
</div>
