<div class="content-layout-simplify" style="margin-top: 1420px;">
    <div class="container">
        <div class="row">
            <div>
                <div class="span12">
                    <h2>Job Openings</h2>
                </div>
            </div>

{{#.}}
<div class="span4">
  <div style="background-color:#f2f2f2;padding:0 25px;">
    <h4 style="line-height:55px;">
      {{Location}}
    </h4>
  </div>
  
  <div style="padding:0 25px;">
    {{#Details}}
    <div>
      <a href="/company/careers{{Details.FriendlyURL}}">
        <p>{{Details.JobTitle}}</p>
      </a>
    </div>
    
    <div style="color: #808080;margin-top: -10px;">
      <p>{{Details.SmallDescription}}</p>
    </div>
    
    ||task_name:jobpostsimple,data_url:https://dp1dev.outsystems.com/JobPosts/rest/api/getJobPost?JobPostId={{Details.Id}},output_url:http://192.168.180.4/CMS_BackOffice/CMS_POC.aspx?Name=partners-content-april15&URL=/company/careers{{Details.FriendlyURL}}||
    
    {{/Details}}
    
  </div>
</div>
{{/.}}
        
        </div>
    </div>
</div>
<div style="background-color: #f2f2f2">
  <div class="container" style="margin-bottom: -70px; %WEB% margin-top: 50px; %/WEB% %MOBILE% margin-top: 10px; %/MOBILE%">
    <div class="row">
      <div class="span8">
        <h3 style="%WEB%margin: 90px 65px;%/WEB% %MOBILE% margin: 20px 10px; %/MOBILE%">
          We work hard but we also know how to have fun.
          <br />
          Check out our summer event video!
        </h3>
      </div>
      <div class="span4" style="margin: 25px 0;">
        <iframe allowfullscreen="" frameborder="0" height="200" src="http://www.youtube.com/embed/oM1Ddu6JAmo?rel=0&amp;hd=1" width="100%"></iframe>
      </div>
    </div>
  </div>
</div>